importFrom(utils, packageDescription)
importFrom(mgcv, gam, predict.gam)
importFrom(Hmisc, wtd.quantile)
#
importFrom("graphics", "abline", "axis", "barplot", "hist", "lines",
             "plot", "points", "segments")
importFrom("stats", "approx", "fft", "loess", "median", "pnorm",
             "predict", "spline", "uniroot", "var")

# Export all names that do not begin with a dot.
exportPattern("^[^\\.]")
